/* General Styles */
*::selection {
    background-color: #8491FF;
    color: white;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    position: relative;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

p {
    font-size: 15px;
    color: #838584;
    line-height: 25PX;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.button {
    padding: 13px 25px;
    display: inline-block;
    font-size: 15px;
    color: white;
    background-image: linear-gradient(to right, #8491FF, #62BBFC, #8491FF);
    background-size: 400px;
    background-position: left;
    transition: background-position .4s ease-in;
}

.button:hover {
    background-position: right;
}

/* START -------------------- Header --------------- styles */
header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .middle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header .middle-header nav>ul {
    display: flex;
}

header .middle-header nav>ul>li {
    font-size: 12px;
    padding: 10px;
    display: inline-block;
}

header .middle-header nav>ul>li>a {
    padding: 5px;
}

header .middle-header nav>ul>li a:hover {
    color: #007bff;
}

/* submenu level 1 */
header .middle-header nav>ul>li ul {
    position: absolute;
    top: 130%;
    right: 0;
    background-color: white;
    padding: 8px;
    width: max-content;
    box-shadow: 0px 0px 30px 3px rgba(127, 137, 161, 0.068);
    opacity: 0;
    visibility: hidden;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}

header .middle-header nav>ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
}

header .middle-header nav>ul>li>ul>li a {
    padding: 10px;
    padding-right: 110px;
}

/* submenu level 2 */
header .middle-header nav>ul>li>ul>li>ul {
    position: absolute;
    top: 0;
    right: 104.9%;
    opacity: 0;
    visibility: hidden;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}

header .middle-header nav>ul>li>ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
}

/* START -------------------- main-section-1 --------------- styles */
.full-main-introduction {
    background-color: #F9F9FF;
    height: auto;
}

.m-introduction {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 0;
    box-sizing: border-box;
}

.m-introduction>div {
    width: 50%;
}

.m-introduction .discription {
    height: 440px;
    padding: 10px;
    box-sizing: border-box;
}

.m-introduction .discription>h5 {
    letter-spacing: 3px;
    color: #292C29;
}

.m-introduction .discription>h1 {
    font-size: 55px;
    margin: 25px 0;
    color: #222222;
}

.m-introduction .discription>p {
    font-size: 15px;
    margin: 25px 0;
    color: #838584;
    line-height: 25PX;
}

/* START -------------------- main-section-2 --------------- styles */
.m-AboutMe {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px 0;
    box-sizing: border-box;
}

.m-AboutMe>div {
    width: 40%;
}

.m-AboutMe .discription {
    height: 440px;
    padding: 10px;
    box-sizing: border-box;
    color: #222222;
}

.m-AboutMe .discription>h1 {
    margin: 40px 0;
}

.m-AboutMe .discription>p {
    font-size: 15px;
    margin: 30px 0;
}

/* START -------------------- main-section-3 --------------- styles */

.m-OfferedServices {
    text-align: center;
    padding: 80px 0px 0;
    box-sizing: border-box;
}

.m-OfferedServices .title {
    width: 600px;
    margin: 0 auto;
}

.m-OfferedServices .title>h2 {
    font-size: 37px;
    margin: 0px;
}

.m-OfferedServices .Services-box {
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.m-OfferedServices .Services-box .items {
    width: 350px;
    color: #222222;
    margin: 20px 0;
}

.m-OfferedServices .Services-box svg {
    fill: #222222;
    width: 38px;
    margin: 15px;
    color: #222222;
}

.m-OfferedServices .Services-box .items>h3>a {
    display: block;
    transition-property: all;
    transition-duration: 0.5s;
}

.m-OfferedServices .Services-box .items:hover svg {
    fill: #8491FF;
}

.m-OfferedServices .Services-box .items:hover a {
    color: #8491FF;
}